@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply antialiased;
}
/* Beispiel für einen zusätzlichen Hover-Effekt */
.hover-effect {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.hover-effect:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
}
